Perhaps mark each pdf with a code denoting the bank type, so this file only has to do a simple string parse to know what to do. i.e. 'JohnDoeCAP.pdf', 'MarkAnthonyNED.pdf', etc.

In [122]:
import math 
import tabula as tb
from tabula import read_pdf

#constant conversion factor, per adobe
#pdf measurer pdf unit = 1/72 in
cf =72  

#all measurements in format [top,left,bottom,width]

#page counter
from PyPDF2 import PdfFileReader
def count_pdf_pages(file):
    with open(file, 'rb') as pdf:
        page_count = PdfFileReader(pdf).getNumPages()
    return page_count

3

In [159]:
#CAPITEC
#working for the first page

#capitec measurements
#first page:
page_1_box = [3.77, 0.4, 9.8, 8.5,]
#middle pages:
middle_pages_box = [0.3, 0.4, 10.2, 8.5]

file = "Capitec.pdf"
page_count = count_pdf_pages(file)

#convert boxes
for i in range(0, len(page_1_box)):
    page_1_box[i] *= cf
    
for i in range(0, len(middle_pages_box)):
    middle_pages_box[i] *= cf

#get first page
page_1_table = tb.read_pdf(file, pages=1,area=[page_1_box],output_format="dataframe", stream=True)
cap_df = page_1_table[0].drop(labels='Posting Date', axis=1)

#clean first page
cap_df = cap_df.rename(columns={'Transaction': 'Transaction Date'})
cap_df = cap_df.drop(index = 0)


for page in range(2, page_count+1):

    #get middle page
    middle_pages_table = tb.read_pdf(file, pages=page, area=[middle_pages_box],
                                 output_format="dataframe", stream=True, pandas_options={'header': None})
    middle_df = middle_pages_table[0]

    #clean middle page
    #print(middle_df.columns)
   # middle_df = middle_df.dropna(subset=[0,'5'])
    middle_df[0] = middle_df[0].map(lambda x: str(x).split()[-1])


    


print(middle_df.columns)
middle_df
#type(middle_pages_table)
#middle_pages_table[0]
#middle_pages_table.to_csv('middle_pages_cap_test.csv')

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

,0,1,2,3,4,5
0,02/10/2021,SMS Notification Fee,NaN,NaN,-2.8,343.9
1,03/10/2021,Banking App Transfer to Rainy Days (1709362276...,NaN,NaN,-150.0,193.9
2,03/10/2021,Payment Received M Fadane,200.00,NaN,NaN,393.9
3,03/10/2021,SMS Notification Fee,NaN,NaN,-1.6,392.3
4,02/10/2021,BP Roodekop (Card 3020),NaN,NaN,-150.0,242.3
5,04/10/2021,International Online Purchase Insufficient Fun...,NaN,NaN,-0.4,241.9
6,04/10/2021,International Processing Fee for Insufficient ...,NaN,NaN,-3.0,238.9
7,04/10/2021,Banking App Transfer Received from Rainy Days,200.00,NaN,NaN,438.9
8,nan,(1709362276) Transfer,NaN,NaN,NaN,NaN
9,04/10/2021,ATM Cash Withdrawal Sparkatm Bp Roodekop,NaN,NaN,-100.0,338.9
10,nan,RoodekopGtza,NaN,NaN,NaN,NaN
11,04/10/2021,ATM Cash Withdrawal Fee,nk,NaN,-7.5,331.4
12,04/10/2021,Payment Received: Rtc 05dtnty7sh Tk Capitec B2...,a,NaN,NaN,531.4
13,04/10/2021,Banking App Transfer to Rainy Days (1709362276...,NaN,NaN,-195.0,336.4
14,04/10/2021,SMS Notification Fee,NaN,NaN,-2.8,333.6
15,nan,04/02/20,22,NaN,NaN,NaN
16,nan,Branc,h: 470010,NaN,NaN,NaN
17,DeEnd,vice: 900,3,NaN,NaN,NaN
18,04/10/2021,NaN,NaN,NaN,NaN,NaN
19,Items,NaN,NaN,NaN,NaN,NaN
20,VAT,NaN,NaN,NaN,NaN,NaN
21,VAT,NaN,NaN,NaN,NaN,NaN
22,04/10/2021,NaN,NaN,NaN,NaN,NaN
23,Items,NaN,NaN,NaN,NaN,NaN
24,3.63,NaN,NaN,NaN,NaN,NaN